/* =========================
   GLOBAL IZI TOAST
========================= */

.iziToast {
  font-family: "Space Grotesk", sans-serif !important;

  background: var(--toast-bg) !important;
  border: 1px solid var(--toast-text) !important;

  color: var(--toast-text) !important;

  box-shadow: none !important;
}

.iziToast .iziToast-body {
  color: var(--toast-text) !important;
}

.iziToast .iziToast-title {
  color: var(--toast-text) !important;

  font-size: 11px !important;
  font-weight: 700 !important;

  letter-spacing: 0.02em;
}

.iziToast .iziToast-message {
  color: var(--toast-muted) !important;

  font-size: 10px !important;
  font-weight: 400 !important;

  opacity: 1 !important;
}

.iziToast .iziToast-progressbar {
  background: var(--toast-text) !important;
}

.iziToast.iziToast-color-blue {
  background: var(--toast-bg) !important;
}

.iziToast .iziToast-icon {
  color: var(--toast-muted) !important;
}

/* =========================
   DARK THEME
========================= */

[data-theme="dark"] .iziToast {
  background: #fff !important;
  border-color: #111 !important;
  color: #111 !important;
}

[data-theme="dark"] .iziToast .iziToast-body,
[data-theme="dark"] .iziToast .iziToast-title {
  color: #111 !important;
}

[data-theme="dark"] .iziToast .iziToast-message {
  color: #666 !important;
}

[data-theme="dark"] .iziToast .iziToast-progressbar {
  background: #111 !important;
}

[data-theme="dark"] .iziToast .iziToast-icon {
  color: #666 !important;
}
